body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link,
.link:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.active-link {
  font-weight: bold;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
